# Jangan kirim source dan konfigurasi dev
src/
test/
*.ts
tsconfig.json
example.js
*.log

# Jangan kirim file sensitif
.env
*.token.json

# Jangan kirim folder node_modules (walau npm sudah otomatis skip ini)
node_modules/
